<h2> Your shopping cart has <%=@cart.length%> items</h2>

<p>Your cart consists of the following: </p>

<ul>
  <% @cart.each do |product| %>
    <li> <%=product["title"]%> </li>
  <% end %>
</ul>

<p> Your item will be on the way! Thank you for shopping with us!! </p>

<button type="button" class="btn btn-outline-primary"><%= link_to "Main Page", root_path %></button>



